.container{
    position: relative;
   
}

.album img{
    width: fit fit-content;
    position: absolute;
    
}
.card1{
    width: 100px;
    height: 50px;
   position: absolute;
   top:670px;
   background-color: rgb(66, 66, 66);
   color:white;
}

.card2{
    width: 100px;
    height: 50px;
   position: absolute;
   top:670px;
   left:95px;
   color:white;
background-color: rgb(189, 55, 223);
}
.im{
    width: 100px;
    height: 50px;
    position: absolute;
    top:670px;
    left: 500px;
    color:rgb(255, 0, 0);
    
}