.container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 10px;
    padding: 10px 30px  10px 30px;
    justify-content:center;
    align-items: center;
    width: 1000px;
    height: 2000px;
    
}
.price{
    display: flex;
    flex-direction: column;
   font-weight: 990;
}
.box>img{

    width: 30;
    height: 120;
    }