
.container{
    display: grid;
    grid-template-columns:repeat(3,2fr);
    gap: 10px;
    
    
    width: 1000px;
    height: 1500px;
    
}
.price{
    display: flex;
    flex-direction: column;
   font-weight: 990;
   font-size: larger;
}



    
    .con{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        gap: 10px;
        width:fit-content;
    }
    .card{
        display: flex;
        flex-direction:column;
        gap: 10px;
        }
    .album{
        width: 100px;
        height: 150px;
    }
    .album>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
