.header{
    width: 100vw;
    position: fixed;
    top: 0px;
    background-color: white;
    border-bottom: 1PX solid RGBA(0,27,55,0.1);
    z-index: 1;
    }

header > .contents{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 0;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    gap: 10px;
    color: #4e5968;
}
.links >li{
    border-radius: 8px;
    padding: 12px 10px;
    cursor: auto;
}

.links>li:hover{
    
    background-color: rgba(2,32,71,0.05);
}
.logo{
    width: 100px;
}
.logo>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}