.header{
    display: flex;
}
.links {
    display: flex;
}
.hamberger{
    display: none;
}

/* 박스 pc 버전(1280px)일 때, 하늘색 */
.box{
width: 100px;
height: 100px;
background-color: skyblue;
}
/* 박스 table버전(768~1280px)일 때, 빨간색 */
/* 박스 mobile 버전(768px)이하 일 때, 노랑색 */

@media screen and(max-width: 1280px) {
    .box{
        background-color:red;
    }
    .links {
        display: none;
    }
    .hamberger{
        display: block;
    }
}

@media screen and(max-width: 768px) {
    .box{
        background-color:yellow;
    }
}

/* pc 버전 일 때 header 홈 어바웃 Q&A */
/* table 버전 이하 일때는 폰트어썸 햄버거로 대체하기*/