@font-face {
   
  }


.container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.link{
    color: black;
    font-family: "Roboto";
    padding:14px 16px;
    border-radius: 24px;
    transition: all 0.2s;
    

}
.link:hover{
    background-color: #f2f2f2;
}
.ablycolor{
color: rgb(250, 71, 101);
}