.mix{
    display: flex;
}
.color{
    width: 100px;
    height: 50px;
    background-color: #cd84f1;} 
.color1{
    width: 100px;
    height: 50px;
    background-color:#ffcccc
}
.color2{
    width: 100px;
    height: 50px;
    background-color:#ff4d4d
}
.color3{
    width: 100px;
    height: 50px;
    background-color:#ffaf40
}
.color4{
    width: 100px;
    height: 50px;
    background-color:#fffa65
}



.container{
    display: flex;
    flex-direction: column;
}
.box{
    width: 100px;
    height: 50px;
}
.green{
    background-color: #c56cf0
}
.blue{
    background-color:#32ff7e
}
.purple{
    background-color:#3ae374
}

.big{
    display: flex;
    flex-wrap: wrap; 
    width: 500px; /* 총 너비 */
    height: 200px;
    flex-wrap: wrap ;
}
.container2{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    

   
}

.box2{
    width: 100px;
    height: 50px;
}
.pink{
    background-color:#ffb8b8
}
.red{
    background-color:#ff3838
}.orange{
    background-color:#ff9f1a
}.yellow{
    background-color:#fff200
}