
@font-face {
    font-family: 'HakgyoansimByeolbichhaneulTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimByeolbichhaneulTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}






.test{
   
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
      
      
}
.apple{
    font-family: 'HakgyoansimByeolbichhaneulTTF-B';

}